.sidebar {
  background-color: #f1f1f1;
  border-right: 1px solid #ccc;
}

.nav {
  margin: 10px 0;
  list-style-type: none;
}

.nav li {
  margin: 0 0 5px;
}

.nav li a {
  display: block;
  padding: 5px 10px;
  color: #1a5a96;
  text-decoration: none;
}

.content {
  margin: 20px 15% 20px 0;
}

.markdownBody {
  overflow: hidden;
}

.markdownBody h1 {
  font-size: 150%;
  font-weight: bold;
}

.markdownBody h2 {
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid #EFEFEF;
    font-size: 120%;
    font-weight: bold;
}

.markdownBody p {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdownBody code {
  padding: 0.2em 0.4em;
  margin: 0;
  margin-bottom: 16px;
  font-size: 85%;
  background-color: #efefef;
  border-radius: 6px;
}

.markdownBody pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #efefef;
  border-radius: 6px;
}

.markdownBody blockquote {
  padding: 0 1em;
  border-left: 0.25em solid #cccccc;
}

.markdownBody ul {
  list-style-type: circle;
}

.markdownBody ol {
    list-style-type: circle;
}
