.sidebar {
  background-color: #f1f1f1;
  border-right: 1px solid #ccc;
}

.nav {
  margin: 10px 0;
  list-style-type: none;
}

.nav li {
  margin: 0 0 5px;
}

.nav li a {
  display: block;
  padding: 5px 10px;
  color: #1a5a96;
  text-decoration: none;
}

.content {
  margin: 20px 15% 20px 0;
}


.markdown-body h1 {
  font-size: 150%;
  font-weight: bold;
}

.markdown-body h2 {
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid #EFEFEF;
    font-size: 120%;
    font-weight: bold;
}

.markdown-body p {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdown-body code {
  padding: 0.2em 0.4em;
  margin: 0;
  margin-bottom: 16px;
  font-size: 100%;
  background-color: rgb(246,248,250);
  border-radius: 6px;
}

.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: rgb(246,248,250);
  border-radius: 6px;
}

.markdown-body blockquote {
  padding: 0 1em;
  border-left: 0.25em solid #cccccc;
}

.markdown-body ul {
  list-style-type:disc;
  padding-left: 2em;
}

.markdown-body ol {
    list-style-type: circle;
}

.markdown-body a {
    color: #0366d6
}

.markdown-body a:hover {
    text-decoration: underline;
}

.markdown-body td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5
}
.markdown-body th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5
}

.markdown-body blockquote, .markdown-body details, .markdown-body dl, .markdown-body ol, .markdown-body p, .markdown-body pre, .markdown-body table, .markdown-body ul {
    margin-top: 0;
    margin-bottom: 16px;
}