.navbar {
  display: none;
  position: fixed;
  top: 65px;
  color: #fcba19;
  padding: 0 65px;
  background-color: #38598a;
  width: 100%;
  -webkit-box-shadow: 0 6px 8px -4px #b3b1b3;
  -moz-box-shadow: 0 6px 8px -4px #b3b1b3;
  box-shadow: 0 6px 8px -4px #b3b1b3;
}

.container {
  padding: 10px 0 10px 0;
}

.container ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #fff;
  list-style: none;
  margin-left: -25px;
  /* border-style: dotted;
    border-width: 1px;
    border-color: red; */
}

.container ul li {
  margin: 5px 0;
}

.container ul li a {
  display: flex;
  font-size: 0.813em;
  font-weight: normal; /* 400 */
  color: #fff;
  padding: 0 15px 0 15px;
  text-decoration: none;
  /* border-style: dotted;
    border-width: 1px;
    border-color: green; */
}

.container ul li a:hover {
  text-decoration: underline;
}

.container ul .active {
  text-decoration: underline;
  font-weight: bold;
}

.navbar a:focus {
  outline: 4px solid #3b99fc;
  outline-offset: 1px;
}

/*
    These are sample media queries only. Media queries are quite subjective
    but, in general, should be made for the three different classes of screen
    size: phone, tablet, full. 
  */

@media screen and (min-width: 768px) {
  .navbar {
    display: block;
  }

  .container ul {
    flex-direction: row;
  }

  .container ul li {
    margin: 0;
  }

  .container ul li a {
    border-right: 1px solid #9b9b9b;
  }
}
