name: Sonar Scanner

on:
  push:
    branches: [dev, feat/*]

env:
  REGISTRY: ghcr.io
  REGISTRY_USERNAME: ${{ secrets.CONTAINER_REGISTRY_USERNAME }}
  REGISTRY_PASSWORD: ${{ secrets.CONTAINER_REGISTRY_PASSWORD }}

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Run Tests
        run: |
          cd src
          npm i
          npm test

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        with:
          args: >
            -Dsonar.organization=bcgov-oss
            -Dsonar.projectKey=aps-portal-e2e
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.sources=src/auth,src/authz,src/batch,src/services
            -Dsonar.javascript.lcov.reportPaths=./src/__coverage__/lcov.info
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
